@charset "utf-8";
/* CSS Document */

html,body {height:100%; margin:0; padding:0;}

a:link {color:Blue; text-decoration: none;}      /* unvisited link */
a:visited {color:Blue; text-decoration: none;}  /* visited link */
a:hover {color:Green; text-decoration: none;}  /* mouse over link */
a:active {color:Green; text-decoration: box;}  /* selected link */ 

.contentBox {
width:150px; 
height:100px;
background-color:#FFF;
}

.contentBox ul {
margin:0px; 
padding:0px; 
position:relative; 
width:100%;
}

.contentBox ul li {
display:inline; 
float:left; 
margin-right:0px;
}

.contentBox ul ul {
position:absolute; 
left:0px;
display:none; 
z-index:100;
}

.contentBox ul ul li {
border:#000 solid; 
border-width:0px; 
width:160px; 
background-color:#FFF; 
padding:0px;
font-size:14px;
}

.contentBox ul li:hover ul {
display:block; top:-1px; !important; top:19px;
}

.contentBox ul li:hover .titleCell strong {
border-left:#000 solid; 
border-right:#000 solid; 
border-top:#000 solid; 
border-bottom:#fff solid; 
border-width:1px;
background-color:#FFF; 
}

.content ul{
font-weight:bold;
font-size:14.0pt;
color:black;
font-family: "Times New Roman", "serif";
}
